@font-face {
    font-family: "The Godfather";
    src: url("TheGodfather-v2.ttf");

}

body{
    background-color: black;
}

h1{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: The Godfather;
    letter-spacing: 10px;
    font-size: 75px;
}

div{
    display: flex;
    justify-content: center;
}
p{
    color:white ;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

p:hover{
    color: red;
}
